Source: debgtd
Section: utils
Priority: optional
Maintainer: Jon Dowland <jmtd@debian.org>
DM-Upload-Allowed: yes
Standards-Version: 3.8.2
Homepage: http://jmtd.net/computing/software/debgtd/
Vcs-Git: git://github.com/jmtd/debgtd.git
Vcs-Browser: http://github.com/jmtd/debgtd/
Build-Depends: debhelper (>= 7), python-support (>= 0.8.1), python (>= 2.5), m4

Package: debgtd
Architecture: all
Depends: ${python:Depends}, devscripts, epiphany-gecko | www-browser, python-glade2, python-soappy, python-gtk2, ${misc:Depends}
Description: tool to help organise and prioritise your Debian bugs
 debgtd ("getting things done") is a GUI tool which allows you
 to visualise, sort and filter a list of bugs from the Debian
 Bug Tracking System (BTS).
 .
 debgtd is intended to help users contribute to Debian by
 keeping track of which bugs they have submitted and determine
 need more the user's attention (such as requiring more
 information, etc.)
