#!/usr/bin/make -f
# vim: set ft=make:

build:

binary: binary-indep install

clean:
	dh_testdir
	dh_testroot
	dh_clean
	make clean

VERSION=$(shell dpkg-parsechangelog | grep ^Version | cut -d' ' -f2-)
UPSTREAM=$(shell echo $(VERSION) | cut -d- -f1)

# XXX: since archive does not support http remote repos, we assume
# we're in a checked-out git archive here. This may not be the case.
get-orig-source:
	git-archive --prefix=$(UPSTREAM)/ master |\
		gzip -9c > debgtd_$(UPSTREAM).orig.tar.gz

dest=$(CURDIR)/debian/debgtd

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	make install \
		PREFIX=/usr DESTDIR=$(dest) \
		LIBDIR=/usr/share/python-support/debgtd

binary-arch:

binary-indep: install
	dh_testdir
	dh_testroot
	dh_pysupport
	dh_installman
	dh_installdocs 
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: get-orig-source
